.explore-case-study {
  .case-study {
    padding-bottom: 0;

    &__subtitle {
      margin-bottom: 40px;
    }
  }
  .work {
    padding: 70px 30px 70px 70px;
    margin-bottom: 0;

    @include tablet {
      padding: 40px;
    }

    .c-title-tag {
      display: none;
    }

    &__left {
      order: 2;
    }

    &__name,
    &__work-title,
    &__description {
      color: #fff;
    }

    &__work-title {
      opacity: 0.7;
    }
  }
}
