.container {
  max-width: 1440px;
  margin: 32px auto;
  padding: 0 32px;
  position: relative;

  @include tablet {
    padding: 0 22px;
  }

  &__inner {
    margin: auto;
  }
}

// Fade animations

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
