.intro {
  margin-top: 104px;
  margin-bottom: 48px;

  height: 640px;

  &__section {
    height: 700px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.name {
  margin-bottom: 48px;

  p {
    position: relative;
    display: flex;
    align-items: center;
    color: $secondary-text;
    font-size: 16px;
    line-height: 24px;

    &:after {
      content: "";
      position: relative;
      width: 80px;
      height: 1px;
      background-color: $secondary-text;
      left: 24px;
    }
  }
}

.description {
  h1 {
    font-size: 46px;
    color: $text;
    margin-bottom: 30px;
    line-height: 64px;
    width: 90%;
  }
  p {
    color: $text;
    font-size: 16px;
    line-height: 24px;
    max-width: 420px;
  }
}
