.parallax__container {
  width: 544px;
  height: 650px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  @include desktop {
    top: -60px;
    width: 100%;
    opacity: 0.5;
  }
}

.parallax {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    top: 0;
    right: 30px;
  }
}

.parallax__background {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.blerta {
  position: absolute !important;
  transform: scale(0.42);

  top: -205px;
  right: -250px;
}

.notebook {
  position: absolute !important;
  transform: scale(0.3);

  top: 460px;
  right: -5px;
}

.one-paper {
  position: absolute !important;
  transform: scale(0.4);

  top: 320px;
  right: 425px;
}

.chips-bag {
  position: absolute !important;
  transform: scale(0.36);

  top: 155px;
  right: 330px;
}

.chips {
  position: absolute !important;
  transform: scale(0.4);

  top: 40px;
  right: 340px;
}

.coffee {
  position: absolute !important;
  transform: scale(0.36);
  z-index: 5;

  top: 275px;
  right: -30px;
}
